<h1>{{title}}</h1>

<div>
</div>

<nav>
  <ul>
    <li>
      <a href="/">Времето</a>
    </li>

    <li>
      <a href="/about">Относно разни тъпотий</a>
    </li>

    <li>
      <a href="/help">Помощ от публиката</a>
    </li>
  </ul>
</nav>
